In [1]:
print("Hello World")

Hello World

# Id Function - used to get the memory location of the variable

In [2]:
x = 5
print(id(x))

4529871872

## A float value in the string cannot directly converted into int eg: a = "1.5" cannot be converted into int by b = int(a). it need to be converted into float then int

In [4]:
a = "1.5"
print(type(a))
print(a)
b = float(a)
print(type(b))
print(b)
c = int(b)
print(type(c))
print(c)

<class 'str'>
1.5
<class 'float'>
1.5
<class 'int'>
1

# Print multiple values using single print function by the use comma separator

In [5]:
print("MT15",155,"Liquid cooled")

MT15 155 Liquid cooled

# Changing default separator in print function
## default value is (space) ' '

In [6]:
print("MT15",155,"Liquid cooled",sep=",")

MT15,155,Liquid cooled

# Changing default end value in print function
## default value is \n (new line)

In [7]:
print("Hello", end="->")
print("World")

Hello->World